C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib
*.obj
*.log
*.exe
*.ilk
objects/
webCache/
msc/
.vs/
*.data
*.cfg
urec.data
*.dll
*.TTF
*.mp3
*.ini
*.txt
*.opt
*.qmake.*
*.exp
Book_Club_Client.exp
Book_Club_Client.lib
*.exp

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.VC.db
*.pdb
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
build/
debug/
